<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Free Times</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<h2>Google Calendar Free Times</h2>
<br>
<p><i><b>Step 1:</b> Choose your workings hours(or use the default times)</i></p>
<p><i><b>Step 2:</b> Choose your date range</i></p>
<p><i><b>Step 3:</b> Choose your time zone</i></p>
<p><i><b>Step 4:</b> Click "Get Free Times" to show your open times
    (Logging into your Google Account may be required for first time users)</i></p>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next
  -- action.
  -->
<!--
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
-->
<form action="/setrange" method="post">
  Start time:
    <select name=start_num>
      <option value="09:00" selected>Choose...</option>
      <option value="00:00">0</option>
      <option value="01:00">1</option>
      <option value="02:00">2</option>
      <option value="03:00">3</option>
      <option value="04:00">4</option>
      <option value="05:00">5</option>
      <option value="06:00">6</option>
      <option value="07:00">7</option>
      <option value="08:00">8</option>
      <option value="09:00">9</option>
      <option value="10:00">10</option>
      <option value="11:00">11</option>
      <option value="12:00">12</option>
      <option value="13:00">13</option>
      <option value="14:00">14</option>
      <option value="15:00">15</option>
      <option value="16:00">16</option>
      <option value="17:00">17</option>
      <option value="18:00">18</option>
      <option value="19:00">19</option>
      <option value="20:00">20</option>
      <option value="21:00">21</option>
      <option value="22:00">22</option>
      <option value="23:00">23</option>
      <option value="23:59">24</option>
    </select>
    <i>Default: 09:00</i>
    <br>
    End time:
    <select name=end_num>
      <option value="17:00" selected>Choose...</option>
      <option value="00:00">0</option>
      <option value="01:00">1</option>
      <option value="02:00">2</option>
      <option value="03:00">3</option>
      <option value="04:00">4</option>
      <option value="05:00">5</option>
      <option value="06:00">6</option>
      <option value="07:00">7</option>
      <option value="08:00">8</option>
      <option value="09:00">9</option>
      <option value="10:00">10</option>
      <option value="11:00">11</option>
      <option value="12:00">12</option>
      <option value="13:00">13</option>
      <option value="14:00">14</option>
      <option value="15:00">15</option>
      <option value="16:00">16</option>
      <option value="17:00">17</option>
      <option value="18:00">18</option>
      <option value="19:00">19</option>
      <option value="20:00">20</option>
      <option value="21:00">21</option>
      <option value="22:00">22</option>
      <option value="23:00">23</option>
      <option value="23:59">24</option>
    </select>
    <i>Default: 17:00</i>
    <br>
        Time Zone:
    <select name=time_zone>
      <option value="US/Pacific" selected>Choose...</option>
      <option value="US/Pacific">US/Pacific</option>
    </select>
    <i>Default: US/Pacific</i>
    <br>
  <input type="text" name="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')],
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>

<input type="submit" value="Get Free Times" />
</form>

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across).
    -->

<h4> Working hours: {{ session.display_begin_time }} to {{ session.display_end_time }} </h4>
<br>

{% if g.daily_availability is defined %}
  <div class="row">
    <div class="col-md-12">
      <h3> Free times </h3>
      {% for i in range(g.daily_availability_formatted|length) %}
        <p><b>{{ g.daily_availability_formatted[i] }}</b></p>
      {% endfor %}
    </div>
  </div>
{% endif %}

<br>

{% if g.calendars is defined  %}
  <div class="row">
    <div class="col-md-12">
      <h3> Busy times </h3>
      {% if g.all_events_formatted|length == 0 %}
        <p><i>No busy times</i></p>
      {% else %}
        {% for i in range(g.all_events_formatted|length) %}
          <p><b>{{ g.all_events_formatted[i]['summary'] }}</b></p>
          <p><b>{{ g.all_events_formatted[i]['date_string']}}</b></p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endif %}


  </div>
  </body> </html>
